body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
.header {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}
.header ul{
    margin-left: -50px;
}
.header ul li{
    display: inline;
    margin:10px 5px 10px;
}
.header ul li a{
    text-decoration: none;
    color: white;
}
.header ul li a:hover{
    color: yellow;
}
main {
    padding: 20px;
}
h2 {
    text-align: center;
    color: black;
}
p {
    text-align: justify;
}
footer {
    text-align: center;
    padding: 10px;
    background: black;
    color: white;
}
footer p{
    text-align: center;
}